* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: rgb(85, 85, 85);
    font-family: 'Permanent Marker', cursive;
    font-size: 1.2rem;
    text-align: center;
}
kbd {
    width: 40px;
    height: 40px;
    padding: 5px 10px;
    border: 2px solid rgb(85, 85, 85);
    border-radius: 5px;
}
h1 {
    padding-top: 5%;
    font-size: 2rem;
}
img {
    margin-top: 10px;
    min-width: 200px;
    max-width: 10%;
}

.keys {
    padding: 5%;
    display: grid;
    row-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* margin-bottom: 120px; */
}
.drum {
    position: relative;
}

.play {
    transform: rotate(20deg);
}

.effect {
    position: absolute;
    left: -30px;
    top: -30px;
    min-width: 80px;
}




